/* Global */
.container{
	width: 960px;
	margin: auto;
    overflow: hidden;
    height: 100%;
}
html, body{
    height: 100%;
    margin: 0;
}
.content{
  min-height: 100%;
  margin-bottom: -50px;
}
body{
	background-image: url("../images/white-waves.png");
	padding: 0;
	margin: 0;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
    line-height: 20px; 
}
h2{
    color: #4aaaa5;
}

/* Header */
header{
	background:#ffffff;
	color: #777777;
	width: 100%;
	border-bottom: 1px solid #cccccc;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
header a{
	color:#777777;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
header #logo{
	background: #4aaaa5;
	padding: 20px;
	float: left;
}
header #name{
	color:#ffffff;
	text-decoration: none;
	text-transform: none;
	font-size: 30px;
	float: left;
}
header nav{
    float: right;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
header li{
	float:left;
	display:inline;
	padding: 20px;
}

/* About Me Content*/
.showcase-box{
	box-sizing: border-box;
	background-color:#ffffff;
	padding: 30px;
	border: 1px solid #cccccc;
	position: relative;
	margin-top: 50px;
	margin-bottom:50px;
}
#my-pic{
	float: left;
	display: inline;
	padding: 20px 20px 5px 0px;
}
.showcase-box h2{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

/*Contact Form*/
.basic-info{
	width: 100%;
	padding: 12px;
	margin: 12px 0;
	box-sizing: border-box;
}
#message{
	min-height: 150px;
	width: 100%;
	padding: 12px;
	margin: 8px 0;
	box-sizing: border-box;
}
.submit {
	background-color:#4aaaa5;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

/* Portfolio Boxes */
#box-1{
	background-image: url("../images/coming-soon.jpeg");
}
#box-2{
	background-image: url("../images/coming-soon.jpeg");
}
#box-3{
	background-image: url("../images/coming-soon.jpeg");
}
#box-4{
	background-image: url("../images/coming-soon.jpeg");
}
#box-5{
	background-image: url("../images/coming-soon.jpeg");
}
#box-6{
	background-image: url("../images/coming-soon.jpeg");
}
.box{
    background-size: contain;
	background-position: center;
	float: left;
	width: 30%;
	height: 200px;
	text-align: center;
	color: #4e4e50;
	border: 1px solid #cccccc;
	margin: 5px;
}
.box h3{
	background: #4aaaa5;
	color: #ffffff;
	z-index: 2;
	width: 100%;
	margin-top: 140px;
}

/* Footer */
footer{
    min-width: 100%;
	padding: 5px;
	color: #cccccc;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 10px;
	background-color: #4e4e50;
	text-align: center;
    border-top: 8px solid #4aaaa5;
}
.footer,
.push {
  height: 50px;
}

@media only screen and (max-width: 980px) {
	
}

@media only screen and (max-width: 768px) {
.content,
.container,
body,
div,
.head,
#my-pic,
footer,
#logo{
		width: 100%;
		height: auto;
	}

header li,
header nav{
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	float: none;
	text-align: center;
}

h2,
header nav{
	text-align: center;
}

header nav,
header ul,
header li,
#name{
	width: 100%;
	float: none;
	padding: 5px;
	margin: 0;
	text-align: center;
}

header #logo{
	width: 100%;
	height: 50px;
	float: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right:0px;
	padding-left: 0px;
	margin: 0;
	text-align: center;
}

}

@media only screen and (max-width: 640px) {
.content,
.container,
body,
div,
.head,
#my-pic,
footer,
#logo{
		width: 100%;
		height: auto;
	}

header li,
header nav{
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	float: none;
	text-align: center;
}

h2,
header nav{
	text-align: center;
}

header nav,
header ul,
header li,
#name{
	width: 100%;
	float: none;
	padding: 5px;
	margin: 0;
	text-align: center;
}

header #logo{
	width: 100%;
	height: 50px;
	float: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right:0px;
	padding-left: 0px;
	margin: 0;
	text-align: center;
}
.box{
  background-size: contain;
	background-position: center;
	float: none;
	width: 95%;
	height: 200px;
	color: #4e4e50;
	outline: 1px solid #cccccc;
}

.user-input input{
	outline: .5px solid #cccccc;
	margin: 1px;
} 



}
